# backup files
*~

# cached site icon files
icons/

# sockets
ipc/

# state files
*.state
state/

# unique per computer
auth

# store encrypted core config file instead; contains socks auth data
core.conf

# daemon-specific files
deluged.log
hostlist.conf.*
ssl/
