[Match]
Type=ether
Kind=!veth
Name=en*
Virtualization=no

[Link]
RequiredForOnline=no

[Network]
DHCP=yes

[DHCPv4]
Anonymize=yes
RouteMetric=128

[IPv6AcceptRA]
RouteMetric=128
